### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*
cache/

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
# Keep root bin folder
!/bin
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

### NetBeans ###
nbproject/private/
#build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

sftp-config.json
sftp-config-alt.json

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode

## Directory-based project format
.idea/
# if you remove the above rule, at least ignore user-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# and these sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml

## File-based project format
*.ipr
*.iws
*.iml

## Additional for IntelliJ
out/

# generated by mpeltonen/sbt-idea plugin
.idea_modules/

### NodeJS ###
node_modules/
styleguide/
bower_components/

### Composer
/vendor/

### PHP
.user.ini

### WordPress
/wp/

content/uploads/
content/blogs.dir/
content/upgrade/
content/backup-db/
content/advanced-cache.php
content/wp-cache-config.php
sitemap.xml
*.log
content/cache/
content/backups/
sitemap.xml.gz

### Project ###
# Dont track wp-minify cache folder
content/plugins/bwp-minify/cache/
# Don't track wp-rocket config/cache files
content/plugins/wp-rocket/cache.json
content/wp-rocket-config/

# Development plugins
content/plugins/developer/
content/plugins/debug-bar-console/
content/plugins/debug-bar-cron/
content/plugins/debug-bar-extender/
content/plugins/debug-bar/
content/plugins/log-deprecated-notices/
content/plugins/rewrite-rules-inspector/

# BEGIN block-bad-queries #
content/plugins/block-bad-queries
# END block-bad-queries #

# BEGIN disable-srcset #
content/mu-plugins/disable-srcset
# END disable-srcset #

# BEGIN facetwp-cache #
content/plugins/facetwp-cache
# END facetwp-cache #

# BEGIN disable-xmlrpc #
content/mu-plugins/disable-xmlrpc
# END disable-xmlrpc #

# BEGIN sanitize-filename #
content/mu-plugins/sanitize-filename
# END sanitize-filename #

# BEGIN bea-wp-thumb #
content/mu-plugins/bea-wp-thumb
# END bea-wp-thumb #

# BEGIN wet-maintenance #
content/plugins/wet-maintenance
# END wet-maintenance #

# BEGIN flow-flow #
content/plugins/flow-flow
# END flow-flow #

# BEGIN post-status-notifier #
content/plugins/post-status-notifier
# END post-status-notifier #

# BEGIN google-maps-builder-pro #
content/plugins/google-maps-builder-pro
# END google-maps-builder-pro #

# BEGIN debug-bar-extender #
content/plugins/debug-bar-extender
# END debug-bar-extender #

# BEGIN debug-bar-cache-lookup #
content/plugins/debug-bar-cache-lookup
# END debug-bar-cache-lookup #

# BEGIN fakerpress #
content/plugins/fakerpress
# END fakerpress #

# BEGIN twentyseventeen #
content/themes/twentyseventeen
# END twentyseventeen #

# BEGIN sucuri-scanner #
content/plugins/sucuri-scanner
# END sucuri-scanner #

# BEGIN sf-move-login #
content/plugins/sf-move-login
# END sf-move-login #

# BEGIN broken-link-checker #
content/plugins/broken-link-checker
# END broken-link-checker #

# BEGIN advanced-custom-fields-pro #
content/plugins/advanced-custom-fields-pro
# END advanced-custom-fields-pro #

# BEGIN wordpress-seo #
content/plugins/wordpress-seo
# END wordpress-seo #

# BEGIN user-switching #
content/plugins/user-switching
# END user-switching #

# BEGIN wordpress-importer #
content/plugins/wordpress-importer
# END wordpress-importer #

# BEGIN regenerate-thumbnails #
content/plugins/regenerate-thumbnails
# END regenerate-thumbnails #

# BEGIN loco-translate #
content/plugins/loco-translate
# END loco-translate #

# BEGIN options-importer #
content/plugins/options-importer
# END options-importer #

# BEGIN cookie-notice #
content/plugins/cookie-notice
# END cookie-notice #


# BEGIN login-lockdown #
content/plugins/login-lockdown
# END login-lockdown #

# BEGIN wysija-newsletters #
content/plugins/wysija-newsletters
# END wysija-newsletters #

# BEGIN wysija-newsletters-premium #
content/plugins/wysija-newsletters-premium
# END wysija-newsletters-premium #

# BEGIN duplicate-post #
content/plugins/duplicate-post
# END duplicate-post #

# BEGIN wpforms #
content/plugins/wpforms
# END wpforms #

# BEGIN searchwp #
content/plugins/searchwp
# END searchwp #

# BEGIN wp-thumb #
content/plugins/wp-thumb
# END wp-thumb #

# BEGIN wp-pagenavi #
content/plugins/wp-pagenavi
# END wp-pagenavi #

# BEGIN redirection #
content/plugins/redirection
# END redirection #

# BEGIN jetpack #
content/plugins/jetpack
# END jetpack #

# BEGIN members #
content/plugins/members
# END members #

# BEGIN wp-piwik #
content/plugins/wp-piwik
# END wp-piwik #

# BEGIN wp-calameo #
content/plugins/wp-calameo
# END wp-calameo #

# BEGIN wp-job-manager #
content/plugins/wp-job-manager
# END wp-job-manager #

# BEGIN debug-bar #
content/plugins/debug-bar
# END debug-bar #

# BEGIN debug-bar-actions-and-filters-addon #
content/plugins/debug-bar-actions-and-filters-addon
# END debug-bar-actions-and-filters-addon #

# BEGIN debug-bar-cron #
content/plugins/debug-bar-cron
# END debug-bar-cron #

# BEGIN debug-bar-slow-actions #
content/plugins/debug-bar-slow-actions
# END debug-bar-slow-actions #

# BEGIN rewrite-rules-inspector #
content/plugins/rewrite-rules-inspector
# END rewrite-rules-inspector #

# BEGIN disable-emails #
content/plugins/disable-emails
# END disable-emails #

# BEGIN wp-crontrol #
content/plugins/wp-crontrol
# END wp-crontrol #

# BEGIN laps #
content/plugins/laps
# END laps #

# BEGIN envira-gallery #
content/plugins/envira-gallery
# END envira-gallery #

# BEGIN envira-videos #
content/plugins/envira-videos
# END envira-videos #

# BEGIN mu-loader #
content/mu-plugins/mu-loader
# END mu-loader #



# BEGIN facetwp #
content/plugins/facetwp
# END facetwp #




# BEGIN elementor-pro #
content/plugins/elementor-pro
# END elementor-pro #

# BEGIN elementor #
content/plugins/elementor
# END elementor #

# BEGIN acf-smart-button #
content/plugins/acf-smart-button
# END acf-smart-button #

# BEGIN acf-svg-icon #
content/plugins/acf-svg-icon
# END acf-svg-icon #

# BEGIN custom-post-type-ui #
content/plugins/custom-post-type-ui
# END custom-post-type-ui #

# BEGIN wpai-acf-add-on #
content/plugins/wpai-acf-add-on
# END wpai-acf-add-on #

# BEGIN wp-all-import-pro #
content/plugins/wp-all-import-pro
# END wp-all-import-pro #





# BEGIN wp-job-manager-apply-with-facebook #
content/plugins/wp-job-manager-apply-with-facebook
# END wp-job-manager-apply-with-facebook #

# BEGIN wp-job-manager-field-editor #
content/plugins/wp-job-manager-field-editor
# END wp-job-manager-field-editor #

# BEGIN disable-comments #
content/plugins/disable-comments
# END disable-comments #


