//Bebas for body text
@include declare-font-face("Bebas", "#{$fonts-url}/Bebas/BebasNeue"); //regularx400

//Circular for Hn
@include declare-font-face("Circular", "#{$fonts-url}/Circular/CircularStdBook"); //regularx400
@include declare-font-face("Circular", "#{$fonts-url}/Circular/CircularStdMedium", 500); //mediumx500
@include declare-font-face("Circular", "#{$fonts-url}/Circular/CircularStdBold", bold); //boldx700
@include declare-font-face("Circular", "#{$fonts-url}/Circular/CircularStdBlack", 900); //blackx900