/* Header css
 ----------------------------------------------------------------------------------------------------*/
.header {
	@include clearfix;
	padding-top: $base-spacing;
}
.logo {
	position: relative;
	z-index: 2;
	.icon {
		display: inline-block;
		width: 25px; height: 45px;
	}
}
.logo__link {
	color: $lightcolor;
	transition: all .2s ease-in-out;
	@include hover {
		transform: translateY(5px);
		display: inline-block;
		color: $lightcolor;
	}
}