.base-section {
	p {
		width: 56%;
		margin: 0 auto 90px;
		line-height: 26px;
		font-size: 17px;
		text-align: center;
	}
	img {
		margin-bottom: 90px;
	}
}
.dyptik {
	@include clearfix;
	img {
		&:last-child {
			float: right;
			margin-top: 190px;
		}
	}
}
.base-section__title {
	margin-bottom: 100px;
	line-height: 47px;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 6px;
	text-align: center;
}
.base-section__name {
	margin-bottom: 35px;
	line-height: 26px;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 4px;
	text-align: center;
}