.base-section {
	position: relative;
	top: -200px;
	display: none;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.9, 0, 0, 1);
	p {
		width: 80%;
		margin: 0 auto 90px;
		line-height: 26px;
		font-size: 17px;
		text-align: center;
	}
	img {
		max-width: 100%; height: auto;
		margin-bottom: 90px;
		backface-visibility: hidden;
		//transform-origin: top;
		//transform: perspective(800px) rotateX(-90deg);
		opacity: 0;
		transition: opacity .8s ease-in-out;
		&.montu {
			//transform: rotateX(0deg);
			opacity: 1;
		}
	}
	&.visible {
		display: block;
	}
	&.loaded {
		opacity: 1;
	}
	&--contact {
		.base-section__name {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 50px;
		}
	}
	.section-access {
		position: relative;
		display: block;
		top: auto; right: auto;
		margin: 50px auto;
		.icon-caret-right {
			top: -3px; left: 1px;
			transform: rotate(-90deg);
			opacity: 0;
		}
		&:hover {
			.icon-caret-right {
				opacity: 1;
			}
		}
	}
	@media screen and (min-width: $tablet-medium) {
		top: -35vh;
		p {
			width: 56%;
		}
	}
}
.dyptik {
	@include clearfix;
	img {
		&:last-child {
			float: right;
			margin-top: 190px;
		}
	}
}
.base-section__title {
	margin-bottom: 100px;
	line-height: 47px;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 6px;
	text-align: center;
}
.base-section__name {
	margin-bottom: 35px;
	line-height: 26px;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 4px;
	text-align: center;
	& + .base-section__metas {
		margin-top: -20px;
	}
}
.base-section__metas {
	margin-bottom: 50px;
	font-style: italic;
	font-weight: 500;
	font-size: 13px;
	text-align: center;
}

.base-section__def {
	width: 80%;
	margin: 0 auto 90px;
	font-weight: 300;
	font-size: 13px;
	text-align: left;
	span {
		display: block;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 4px; left: -10px;
			font-size: 9px;
		}
		@for $i from 1 through 4 {
			&:nth-child(#{$i}):before {
				content: "#{$i}";
			}
		}
	}
	@media screen and (min-width: $tablet-medium) {
		width: 56%;
	}
}

.rocks {
	position: absolute;
	z-index: -1;
	top: 0; left: 0;
	width: 100%; height: 200vh;
	overflow: hidden;
	display: none;
	@media screen and (min-width: $tablet-medium) {
		
	}
}
body:not(.white) {
	.rock {
		animation: breathe 4s ease-in-out infinite alternate;
	}
}
.rock {
	position: absolute;
	img {
		width: 90px; height: auto;
	}
	&:nth-child(1) { top: -30px; left: 6%; animation-delay: .5s; }
	&:nth-child(2) { top: 75px;; right: -3%; animation-delay: 2s; }
	&:nth-child(3) { top: 365px; left: -2%; animation-delay: 3s; }
	&:nth-child(4) { top: 156px; left: -10%; animation-delay: .8s; }
	&:nth-child(5) { display: none; animation-delay: 1.5s; }
	&:nth-child(6) { top: 305px; right: -6%; animation-delay: 1s; }
	@media screen and (min-width: $tablet-medium) {
		img {
			width: auto;
		}
		&:nth-child(1) { top: -30px; left: 12%; }
		&:nth-child(3) { top: 400px; left: -2%; }
		&:nth-child(4) { top: 390px; right: 10%; left: auto; }
		&:nth-child(5) { top: 800px; left: 12%; display: block; }
		&:nth-child(6) { top: 820px; right: 2%; }
	}
}
@keyframes breathe {
	from { opacity: 1; transform: translateY(0); }
	to { opacity: .4; transform: translateY(-10px); }
}