/* Sliders css
 ----------------------------------------------------------------------------------------------------*/
.sliders-wrapper {
	position: relative;
	height: 100vh;
	@media screen and (min-width: $tablet-medium) {
	}
}
.home-slider__wrapper {
	width: 100%; height: 100%;
	overflow: hidden;
	@media screen and (min-width: $tablet-medium) {
		
	}
}
.home-slider {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 90%;
	margin: 0 5%;
	.slick-list {
		overflow: visible;
	}
	@media screen and (min-width: $tablet-medium) {
		width: 50%;
		max-width: 768px;
		margin: auto;
	}
	@media screen and (min-width: $desktop-small) {
		max-width: 960px;
	}
}
.home-slider__item {
	text-align: center;
	outline: none;
	img {
		display: inline-block;
	}
	video {
		max-width: 100%; height: auto;
	}
}

// Slider nav
.home-slider__nav__wrapper {
	position: absolute;
	z-index: 2;
	top: 50%; left: 10%;
	width: 80%;
	transform: translateY(-50%);
	transition: all .3s ease-in-out;
	&.topped {
		margin-top: -100px;
		.section-access {
			margin-top: 120px;
		}
	}
	&.magnet {
		.slick-arrow {
			z-index: -3;
		}
		.icon-caret-right {
			top: -3px; left: 0;
			transform: rotate(-90deg);
			opacity: 0;
		}
		.section-access {
			right: 50%;
			margin-right: -17px;
			&:hover {
				.icon-caret-right {
					opacity: 1;
				}
			}
		}
	}
	@media screen and (min-width: $tablet-medium) {
		left: calc( (100% - 685px) / 2 );
		width: 685px;
	}
}
.home-slider__nav {
	text-align: center;
	font-family: $customfont-1;
	@media screen and (min-width: $tablet-medium) {
		.slick-list {
			height: 190px !important;
			padding: 60px 0 45px !important;
		}
		.slick-track {
			//margin-top: -25px;
		}
		.slick-slide {
			padding: 5px 0;
		}
	}
}
.home-slider__nav__item {
	height: 60px;
	line-height: 60px;
	color: $lightcolor;
	letter-spacing: 10px;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	text-decoration: none;
	outline: none;
	font-size: 35px;
	&.invisible {
		opacity: 0;
	}
	@include hover {
		color: $lightcolor;
	}
	@media screen and (min-width: $tablet-medium) {
		&.slick-current {
			font-size: 70px;
		}
	}
}

.slick-arrow {
	z-index: 2;
	position: relative;
	width: 100%;
	opacity: 0;
}
.slick-prev {
	top: 45px;
}
.slick-next {
	top: -45px;
}


.section-access {
	position: absolute;
	z-index: 3;
	top: 44%; right: 120px;
	width: 34px; height: 34px;
	padding: 0;
	line-height: 34px;
	text-align: center;
	background: none;
	transition: all .3s ease-in-out;
	outline: none;
	.icon-caret-right {
		position: relative;
		top: -2px; left: 1px;
		width: 15px; height: 15px;
		transition: all .3s ease-in-out;
	}
	.icon-dashed-border {
		position: absolute;
		top: 0; left: 0;
		width: 34px; height: 34px;
	}
	@include hover {
		background: none;
	}
}